
.navbar a.navbar-brand {
    padding: 5px;
    margin: 0;
}

.navbar-brand {
    display: table-cell;
    vertical-align: middle;
}

.navbar img {
    height: 50px;
}

#smallBrand{
    padding-top: 5px;
    height: 40px;
}

.navbar .form-group {
    padding-left: 10px;
}

body {
    padding-top: 70px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.mainJumbo {
    color: white;
    background-image: url("./images/barcounter-crop.jpg");
    background-size: 1140px; 
    height: 600px;
    background-position: bottom left;
    position: relative;
}

.mainJumbo h1 {
    position: absolute;
    bottom: 0px;
    padding-bottom: 20px;
}