<div class="row">
    <div class="col-xs-9">
        <h1>{{$ctrl.drink.name}}</h1>
        <h4>By: {{$ctrl.drink.firstName}} {{$ctrl.drink.lastName}}</h4>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-danger pull-right" ng-show="$ctrl.admin" ng-click="$ctrl.flagDrink()">Flag Drink</button>
        <a class="btn btn-info pull-right" ng-href="/addComponent/edit/{{$ctrl.drink._id}}">Edit this drink</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <section>
            <h3>Description</h3>
            <p>{{$ctrl.drink.description}}</p>
        </section>
        <section>
            <h3>Ingredients</h3>
            <ul>
                <li ng-repeat="item in $ctrl.drink.dbIngredients">
                    <a ng-href="/drinkDetails/{{item.drink._id}}">
                        {{item.drink.name}}, <em>{{item.amount}}oz.</em>
                        </a>
                </li>
                <li ng-repeat="item in $ctrl.drink.userIngredients">{{item.drink}}, <em>{{item.amount}}oz.</em></li>
            </ul>
        </section>
        <section>
            <h3>Instructions</h3>
            <p>{{$ctrl.drink.instructions}}</p>
        </section>
    </div>
</div>