<div class="row">
    <div class="clearfix col-xs-12"><h1 style="display: inline">Users </h1>
        <button class="btn btn-default pull-right" ng-click="$ctrl.toggle = !$ctrl.toggle">Filter</button>
    </div>
</div>
<div class="row">
    <div uib-collapse="$ctrl.toggle" class="col-xs-12">
        <div class="well" style="margin-top: 10px">
            <form class="form-inline">
                <my-text label="Username" value="$ctrl.username"></my-text>
            </form>
        </div>
    </div>
</div>

<table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in $ctrl.users | filter:{username: $ctrl.username}">
        <td>{{user.username}}</td>
        <td>{{user.firstName + ' ' + user.lastName}}</td>
        <td>{{user.roles.join(', ')}}</td>
    </tr>
    </tbody>
</table>