<div class="modal-header">
    <h1>Sign Up</h1>
</div>

<div class="modal-body clearfix">
    <uib-alert ng-repeat="alert in alerts" type="danger" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <form name="signUpForm">
        <div class="form-group" ng-class="checkValid(signUpForm.username)">
            <label for="username">Username: </label>
            <input type="text" id="username" class="form-control" placeholder="Username" ng-model="user.username" name="username" required>
        </div>
        <div class="form-group" ng-class="checkValid(signUpForm.email)">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Email" name="email" required>
        </div>
        <div class="form-group" ng-class="checkValid(signUpForm.password)">
            <label for="password">Password: </label>
            <input type="password" id="password" class="form-control" ng-model="user.password" placeholder="Password" name="password" required>
        </div>
        <div class="form-group" ng-class="checkValid(signUpForm.passwordConfirm)">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" id="passwordConfirm" class="form-control" ng-model="passwordConfirm" placeholder="Confirm Password"
                   name="passwordConfirm" ng-pattern="user.password" required>
        </div>
        <button class="btn btn-success pull-right" ng-click="submit()" ng-disabled="signUpForm.$invalid">Submit</button>
    </form>
</div>