<div class="modal-header">
    <h1>Sign Up</h1>
</div>

<div class="modal-body clearfix">
    <uib-alert ng-repeat="alert in alerts" type="danger" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <form name="signUpForm">
        <div class="form-group" ng-class="checkValid(signUpForm.username)">
            <label for="username">Username: </label>
            <input type="text" id="username" class="form-control" placeholder="Username" ng-model="username" name="username" required>
        </div>
        <div class="form-group" ng-class="checkValid(signUpForm.email)">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" ng-model="email" placeholder="Email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" id="password" class="form-control" ng-model="password" placeholder="Password" required>
        </div>
        <div class="form-group" ng-class="checkValid(signUpForm.confirmPassword)">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" id="passwordConfirm" class="form-control" ng-model="passwordConfirm" placeholder="Confirm Password" ng-pattern="{{password}}" required>
        </div>
        <button class="btn btn-success pull-right" ng-click="submit()">Submit</button>
    </form>
</div>