<div class="row">
    <div class="clearfix col-xs-12"><h1 style="display: inline">Approve Simple Drinks</h1>
        <button class="btn btn-default pull-right" ng-click="$ctrl.toggle = !$ctrl.toggle">Filter</button>
    </div>
</div>

<div class="row">
    <div uib-collapse="$ctrl.toggle" class="col-xs-12">
        <div class="well" style="margin-top: 10px">
            <form class="form-inline">
                <my-text label="Name" value="$ctrl.name"></my-text>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" ng-cloak>
        <table class="table table-striped">
            <thead table-head columns="$ctrl.columns" sort-order="$ctrl.sortOrder" sort-order-change="$ctrl.sortOrderSet(field)">
            </thead>
            <tbody>
            <tr ng-repeat="drink in $ctrl.drinks  | filter: {name: $ctrl.name} | orderBy: $ctrl.sortOrder"
                ng-class="{success : drink.fav}">
                <td><a href="/drinkDetails/{{drink.id}}">{{drink.name}}</a></td>
                <td>{{drink.type}}</td>
                <!--<td class="hidden-xs">{{drink.manufacturer}}</td>
                <td class="hidden-xs">{{drink.countryOfOrigin}}</td>-->
                <td>{{drink.abv | percentage}}</td>
                <td>
                    <button class="btn btn-sm btn-success" ng-click="$ctrl.approveDrink(drink.id)">Approve</button>
                    <button class="btn btn-sm btn-danger" ng-click="$ctrl.rejectDrink(drink.id)">Reject</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
