<h1>{{drink.name}}</h1>
<h5>{{drink.description}}</h5>
<h3>Ingredients:</h3>
<ul>
    <li ng-repeat="component in drink.simpleComponents"><strong>{{component.id.name}}</strong>: {{component.amount}} oz.</li>
    <li ng-repeat="complexComponent in drink.complexComponents"><strong>{{complexComponent.id.name}}:</strong>
        <ul>
            <li ng-repeat="component in complexComponent.id.simpleComponents"><strong>{{component.id.name}}</strong>: {{component.amount}} oz.</li>
        </ul>
    </li>
</ul>

{{drink}}
